// This is important DO NOT REMOVE
// If this is removed the wrapper ::before will also show the selected icon
.selected-icon-wrapper::before {
	content: none !important;
	display: none !important;
}

.selected-icon-span [class*="eics-"]::before {
	color: inherit !important;
	fill: currentColor !important;
}

.wp-block-easy-symbols-icons-eics-symbols-icons.alignleft {
  float: none;
  text-align: left;
  margin-inline-end: 0;
}
.wp-block-easy-symbols-icons-eics-symbols-icons.alignright {
  float: none;
  text-align: right;
  margin-inline-start: 0;
}
.wp-block-easy-symbols-icons-eics-symbols-icons.aligncenter {
  text-align: center;
}